Automations/n8n/Morning_Briefing_To_GDocs.json
[
  {
    "id": "MorningBriefingToGDocsWorkflow",
    "name": "Morning Briefing → Google Docs",
    "nodes": [
      {
        "parameters": {
          "path": "morning-briefing-complete",
          "options": {
            "responseMode": "lastNode"
          }
        },
        "id": "webhook-receiver",
        "name": "Briefing Complete Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [0, 300],
        "webhookId": "morning-briefing-complete"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst status = body.status;\nif (status !== 'completed') {\n  throw new Error(`Task ended with status: ${status}`);\n}\nconst content = body.briefing_content || '';\nconst today = new Date();\nconst yyyy = today.getFullYear();\nconst mm = String(today.getMonth() + 1).padStart(2, '0');\nconst dd = String(today.getDate()).padStart(2, '0');\nconst dateLabel = `${yyyy}-${mm}-${dd}`;\nreturn [{ json: { content, dateLabel, task_id: body.task_id } }];"
        },
        "id": "parse-payload",
        "name": "Parse Payload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [220, 300]
      },
      {
        "parameters": {
          "operation": "create",
          "title": "=Morning Briefing {{ $json.dateLabel }}",
          "content": "={{ $json.content }}"
        },
        "id": "create-gdoc",
        "name": "Create Google Doc",
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [440, 300],
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "google-docs-credential",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { ok: true, doc_id: $json.id, doc_url: $json.webViewLink } }}"
        },
        "id": "respond",
        "name": "Respond OK",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [660, 300]
      }
    ],
    "connections": {
      "Briefing Complete Webhook": {
        "main": [[{ "node": "Parse Payload", "type": "main", "index": 0 }]]
      },
      "Parse Payload": {
        "main": [[{ "node": "Create Google Doc", "type": "main", "index": 0 }]]
      },
      "Create Google Doc": {
        "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "meta": null
  }
]
